@model List<Market.Models.Trash>

@{
    ViewData["Title"] = "Trash";
    Layout = "_ClientLayout";
}

<table class="table table-striped table-inverse">
    <tr class="text-center">
        <th colspan="5">List of products</th>
    </tr>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Cost</td>
        <td>Adress</td>
        <td>Time</td>
        <td>Phone Number</td>
    </tr>
    @if(Model.Count > 0){
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductsName</td>
                <td>@item.ProductsCost</td>
                <td>@item.Adress</td>
                <td>@item.DeliveryTime</td>   
                <td>@item.PhoneNumber</td>     
            </tr>
        }
    }else{
    <tr class="text-center">
        <th colspan="5">Empty</th>
    </tr>        
    }
</table>