@model List<Market.Models.Trash>

@{
    ViewData["Title"] = "Products";
    Layout = "_ClientLayout";
}

<table class="table table-striped table-inverse">
    <tr class="text-center">
        <th colspan="5">List of products</th>
    </tr>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Cost</td>
        <td>Adress</td>
        <td>Time</td>
        <td></td>
    </tr>
    @if(Model.Count > 0){
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductsName</td>
                <td>@item.ProductsCost</td>
                <td>@item.Adress</td>
                <td>@item.DeliveryTime</td>
                <td><form class = "form-control form-control-lg" asp-controller = "Home" asp-action = "Delete" asp-route-Id = "@item.Id"><input type="submit" class=" btn btn-success" value="Delete"></form></td>          
            </tr>
        }
    }else{
    <tr class="text-center">
        <th colspan="5">Empty</th>
    </tr>        
    }
</table>